body {
  margin: 0;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.title {
  color: #738f93;
  font-size: 2.3rem;
  font-family: fantasy, sans-serif;
  margin-bottom: 0;
}
.img-home {
  width: 40%;
  height: auto;
  padding: 2rem;
}
.btn-search {
  background-color: #1ba94c;
  color: #ffffff;
  box-shadow: 0 4px 12px rgb(27 169 76 / 50%);
  font-size: 1rem;
  padding-inline: 10px;
  min-height: 2.778em;
  border: none;
  cursor: pointer;
}
.btn-search:hover {
  background-color: #ffffff;
  border: 1px solid #1ba94c;
  color: #1ba94c;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.characters {
  padding: 2rem;
}
.characters h1 {
  text-align: center;
  font-family: fantasy, sans-serif;
}
.back-home {
  font-size: 1rem;
  background-color: #1ba94c;
  color: #ffffff;
  padding: 10px;
  min-height: 2.778em;
  cursor: pointer;
  border: none;
}
.back-home:hover {
  background-color: #ffffff;
  color: #1ba94c;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.container-characters {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .8rem;
  margin-bottom: 20px;
  
} 
.character-container {
  display: flex;
  background: #3c3e44;
  border-radius: 10px;
  align-items: flex-start;
  padding-bottom: 5px;
}
.character-container h3 {
 margin: 10px 0;
 margin-left: 1.5rem;
}

.character-container h6 {
 font-size: .9rem;
 margin-bottom: 1rem;
 margin-left: 1rem;
}
.character-container p {
  font-size: .75rem;
  font-weight: 600;
  text-align: center;
  margin-right: 10px;
  margin-block: 10px;
}
.specifics {
  font-size: 1.2rem;
  font-weight: 700;
}
.character-container img {
  width: 170px;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 0 0 10px;
}
.character-container div:first-child {
  height: 100%;
  padding-bottom: 0px;
}
.character-container div:last-child {
  text-align: left;
  margin-bottom: 20px;
}

.character-container div:last-child p {
  text-align: center;
}
.info {
  display: flex;
  margin-left: 1rem;

}
.character-container .alive,
.dead {
  height: .5rem;
  width: .5rem;
  margin-right: 0.375rem;
  border-radius: 50%;
  display: inline-block;
}
.character-container .dead {
  background: rgb(214, 61, 46);
}
.character-container .alive {
  background: rgb(85, 204, 68);
}

@media (max-width: 768px)  {
  .container-characters {
    grid-template-columns: 1fr;
  }
  .character-container h3 {
    margin-inline: .5rem;
  }
}

@media (max-width: 380px) {
  .character-container {
    width: 98%;
    margin: 0 auto;
  }
  .container-characters {
   gap: 1rem;
  }
  .container-characters h3 {
    font-size: .7rem;
    margin-left: .3rem;
  }
  .container-characters h6 {
    font-size: .6rem;
    margin-left: .5rem;
  }
  .info {
    flex-direction: column;
    text-align: center;
    margin-right: 2rem;
  }
  .text-grey {
    margin-left: .4rem;
    font-size: .8rem;
  }
  .specifics {
    font-size: 1rem;
    font-weight: 600;
    margin-left: .6rem;
  }
}